#root {
  display: flex;
}
@font-face {
  font-family: "Apex Mk3";
  src: local("Apex Mk3"), url("./fonts/ApexMk3Bold.otf") format("opentype");
}
.bn-onboard-custom.bn-onboard-modal {
  z-index: 99;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
fieldset,
a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #3e1e68;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #583c87;
  top: 33%;
  left: 51%;
  animation-duration: 15.3s;
  animation-delay: -4.2s;
  transform-origin: 18vw 0vh;
  box-shadow: -40vmin 0 5.6947907257vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffacac;
  top: 96%;
  left: 41%;
  animation-duration: 14.1s;
  animation-delay: -5.3s;
  transform-origin: 23vw 21vh;
  box-shadow: -40vmin 0 13.794079988vmin currentColor;
}
.background span:nth-child(3) {
  color: #e45a84;
  top: 81%;
  left: 94%;
  animation-duration: 12.5s;
  animation-delay: -5.7s;
  transform-origin: 22vw -18vh;
  box-shadow: -40vmin 0 5.3006527254vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 9%;
  left: 75%;
  animation-duration: 12s;
  animation-delay: -6.2s;
  transform-origin: -2vw -15vh;
  box-shadow: -40vmin 0 13.9608068924vmin currentColor;
}
.background span:nth-child(5) {
  color: #e45a84;
  top: 27%;
  left: 31%;
  animation-duration: 15.5s;
  animation-delay: -10.2s;
  transform-origin: 7vw -21vh;
  box-shadow: -40vmin 0 13.2777802475vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffacac;
  top: 63%;
  left: 5%;
  animation-duration: 14.5s;
  animation-delay: -12s;
  transform-origin: -8vw -22vh;
  box-shadow: -40vmin 0 5.9282187022vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 25%;
  left: 3%;
  animation-duration: 11s;
  animation-delay: -15.5s;
  transform-origin: 0vw -21vh;
  box-shadow: 40vmin 0 9.1766572358vmin currentColor;
}
.background span:nth-child(8) {
  color: #e45a84;
  top: 67%;
  left: 36%;
  animation-duration: 15.4s;
  animation-delay: -15.6s;
  transform-origin: -11vw -19vh;
  box-shadow: 40vmin 0 8.4849894279vmin currentColor;
}
.background span:nth-child(9) {
  color: #583c87;
  top: 29%;
  left: 64%;
  animation-duration: 13.8s;
  animation-delay: -4.3s;
  transform-origin: -9vw -7vh;
  box-shadow: 40vmin 0 5.8852542273vmin currentColor;
}
.background span:nth-child(10) {
  color: #e45a84;
  top: 3%;
  left: 23%;
  animation-duration: 15.2s;
  animation-delay: -10.8s;
  transform-origin: -7vw -10vh;
  box-shadow: 40vmin 0 11.6518446795vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 97%;
  left: 46%;
  animation-duration: 11.7s;
  animation-delay: -10s;
  transform-origin: -13vw 17vh;
  box-shadow: -40vmin 0 8.154847293vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 94%;
  left: 65%;
  animation-duration: 14.8s;
  animation-delay: -3.9s;
  transform-origin: 18vw -8vh;
  box-shadow: 40vmin 0 8.9039229593vmin currentColor;
}
.background span:nth-child(13) {
  color: #e45a84;
  top: 12%;
  left: 79%;
  animation-duration: 12.4s;
  animation-delay: -3.9s;
  transform-origin: -17vw -19vh;
  box-shadow: 40vmin 0 14.5534202581vmin currentColor;
}
.background span:nth-child(14) {
  color: #583c87;
  top: 2%;
  left: 11%;
  animation-duration: 10.5s;
  animation-delay: -10.2s;
  transform-origin: -8vw -22vh;
  box-shadow: -40vmin 0 13.8567575648vmin currentColor;
}
.background span:nth-child(15) {
  color: #583c87;
  top: 24%;
  left: 8%;
  animation-duration: 12.3s;
  animation-delay: -9.2s;
  transform-origin: 13vw -16vh;
  box-shadow: -40vmin 0 7.4048159629vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffacac;
  top: 10%;
  left: 59%;
  animation-duration: 12.4s;
  animation-delay: -5.2s;
  transform-origin: -5vw -18vh;
  box-shadow: 40vmin 0 7.1719532486vmin currentColor;
}
.background span:nth-child(17) {
  color: #e45a84;
  top: 1%;
  left: 73%;
  animation-duration: 10.6s;
  animation-delay: -2.1s;
  transform-origin: 2vw 11vh;
  box-shadow: -40vmin 0 13.4664570312vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffacac;
  top: 98%;
  left: 98%;
  animation-duration: 11.9s;
  animation-delay: -6.9s;
  transform-origin: -14vw 3vh;
  box-shadow: -40vmin 0 10.5818357548vmin currentColor;
}
.background span:nth-child(19) {
  color: #e45a84;
  top: 22%;
  left: 49%;
  animation-duration: 14.1s;
  animation-delay: -12.1s;
  transform-origin: 22vw -5vh;
  box-shadow: 40vmin 0 12.6530090596vmin currentColor;
}
.background span:nth-child(20) {
  color: #e45a84;
  top: 97%;
  left: 11%;
  animation-duration: 13.4s;
  animation-delay: -9.6s;
  transform-origin: 2vw -5vh;
  box-shadow: 40vmin 0 8.7970048256vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
